/*main  */

h2.carrousel{
  border-width: 15px #FFD700;
  border-style: solid;
  border-radius: 15px;
  color: #FFD700;
  background-color: white;
  padding: 1%;
  text-align: center;
  width: 25%;
  margin-top: 2%;

}
/*main*/
