#vamos{
  float:left;
  margin-top: 2%;

}

#modalCss{
 position: relative;

}
.divBotones{
  overflow: hidden;
}
.miBoton{
  position: absolute;
  right: 1%;
  top: 3%;
  background-color: white;
  border: 0.5px solid black;
}
#cancelar{
  float: left;
  margin-right: 1%;
  margin-top: 2%;
}
#reco{
  margin-top: 1%;
}
.listaDeModal{
  list-style: none;
}
#anchor{
  text-decoration: none;
  color: black;

}



div.recomendadas h2{
font-family: sans-serif;
font-size: 3vh;
padding: 1%;
align-items: center;
text-align: center;
margin-top: 2%;
border-style: solid;
position: relative;


}
