main {
  overflow: hidden;

}

div.resultspelis{
  width: 100%;
}

div.pelis {
  float: left;
  margin-bottom: 20px;
  margin-top: 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

}

#modal-example {
  font-family: sans-serif;

}
